*~
*.pyc
*.log
.idea
.virtualenv
*.tar
*.zip
*.prof
data/
.vscode/settings.json
docker/bart_cuda/spiraltraj/
docker/bart/spiraltraj/
docker/bart_pg_cpu/spiraltraj/
docker/bart_pg_gpu/spiraltraj/
matmri_reco